window.bar {
    background-color: rgba(36, 39, 58, 0.8);
    border-bottom: 3px solid rgba(73, 77, 100, 0.7);
    font-size: 14px;
    color: @theme_fg_color;
}

button {
    min-width: unset;
    padding-top: 0;
    background-color: transparent;
    border-radius: 0px;
    border-color: transparent;
    border-bottom: 3px solid rgba(73, 77, 100, 0.7);
}

button:active {
    background-color: rgb(138, 173, 244);
}

label {
    font-weight: bold;
}

.workspaces button.focused {
    background-color: rgb(54, 58, 79);
}

.client-title {
    padding-right: 10px;
    color: @theme_selected_bg_color;
}

.notification {
    color: @theme_selected_bg_color;
}

levelbar block,
highlight {
    min-height: 0px;
}
