window.bar {
    font-size: 14px;
    font-weight: bold;
    background-color: rgba(36, 39, 58, 0.2);
    color: @theme_fg_color;

    border-radius: 10px;
    border: 3px solid rgba(73, 77, 100, 0.2);
    transition: border 0.2s ease-in-out;
}

window.bar.active {
    border: 3px solid rgba(138, 173, 244, 0.8);
}

window.bar button {
    background-color: transparent;
    border-radius: 10px;
    border: 3px solid transparent;
}

window.bar button.focused {
    background-color: rgba(138, 173, 244, 0.3);
    border: 3px solid rgba(138, 173, 244, 0.8);
}

window.bar button.active {
    background-color: rgba(36, 39, 58, 0.1);
    border: 3px solid rgba(138, 173, 244, 0.8);
}
