/* hide starting tab extension banner from search bar */
#identity-icon-label {
    display: none !important;
}
/* hide close and all tabs button */
.titlebar-buttonbox-container, #alltabs-button, .titlebar-spacer[type="post-tabs"] {
    display: none !important;
}

#tabbrowser-tabs {
    border: none !important;
}

#navigator-toolbox {
    background: rgba(35, 47, 58, 0.9) !important;
}

#urlbar-background {
    background: rgba(35, 47, 58, 0.99) !important;
}

#nav-bar, #PersonalToolbar {
    background: transparent !important;
    box-shadow: none !important;
}
