.clock-window {
    background-color: transparent;
}

.clock {
    background-color: rgba(36, 39, 58, 0.05);
    border-radius: 10pt;
    border: 3pt solid rgba(73, 77, 100, 0.1);
    margin: 320px 760px 560px 760px;
    font-size: 100px;
}

.clock-widescreen {
    margin: 508px 1500px 700px 1500px;
    font-size: 118px;
}

.clock-label {
    font-family: "CaskaydiaMono NFM Light";
    color: @theme_fg_color;
}
